table {
    width: 2000px;
    border-collapse: collapse;
    border: 1px solid rgb(204, 204, 204);
}

.wrapper-table {
    max-width: 100vw;
    overflow-x: scroll;
}

.num {
    width: 110px;
}

.condition {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.wrapper-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.yellow {
    background-color: #f4e291;
}

.blue {
    background-color: #c3d5e7;
}

.green {
    background-color: #9ec8ac;
}

.red {
    background-color: #eb9a94;
}

.didntCome {
    background-color: #ebb9b6;
}

.color-div {
    width: 80px;
    height: 20px;
    border: 1px solid black;
}

.dayOff {
    color: #e77a74;
    text-align: center;
}

.working-days {
    width: 70px;
}